{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <meta charset="UTF-8">
    <title>Palestrinhas</title>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
             {% if request.user.is_authenticated %}
             <li class="nav-item active">
                 <a class="nav-link" href="{% url 'palestrasuser'%}">Minhas Palestras<span class="sr-only">(current)</span></a>
             </li>
             {% endif %}
             <li class="nav-item">
                 <a class="nav-link" href="{% url 'logout' %}">Logout</a>
             </li>
         </ul>
         <form class="form-inline my-2 my-lg-0">
             <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
             <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
         </form>
     </div>
 </nav>
    <h1 class="text-info">Olá, Seja bem vindo!!</h1>
    <p class="text-success">Número de palestras cadastradas até o momento : {{ palestras|length }}</p>
    <table class="table table-striped" border="1">
        <tr>
            <th>Nome</th>
            <th>Link</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Data de criação</th>
        </tr>
        {% for palestra in palestras %}
            <tr>
                <td><a href="{% url 'palestradetail' palestra.id %}">{{palestra.nome}}</a></td>
                <td>{{palestra.link}}</td>
                <td>{{palestra.descricao}}</td>
                <td>{{palestra.status}}</td>
                <td>{{palestra.data_criacao}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>