<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Palestrinhas</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <nav>
            <p><a href="{% url 'palestrasuser'%}">Minhas Palestras</a></p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
        </nav>
    {% endif %}

    <h1>Olá, Seja bem vindo!!</h1>
    <p>Número de palestras cadastradas até o momento : {{ palestras|length }}</p>
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Link</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Data de criação</th>
        </tr>
        {% for palestra in palestras %}
            <tr>
                <td><a href="{% url 'palestradetail' palestra.id %}">{{palestra.nome}}</a></td>
                <td>{{palestra.link}}</td>
                <td>{{palestra.descricao}}</td>
                <td>{{palestra.status}}</td>
                <td>{{palestra.data_criacao}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>