<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Palestrinhas</title>
</head>
<body>
    <nav>
        <p><a href="{% url 'palestras'%}">Home</a></p>
    </nav>
    <h1>Olá,Palestrinhas</h1>
    <p>Número de palestras que você cadastrou : {{ palestras|length }}</p>
    {% if palestras %}
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Link</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Data de criação</th>
            <th>Editar</th>
            <th>Deletar Palestra?</th>
        </tr>
        {% for palestra in palestras %}
            <tr>
                <td><a href="{% url 'palestradetail' palestra.id %}">{{palestra.nome}}</a></td>
                <td>{{palestra.link}}</td>
                <td>{{palestra.descricao}}</td>
                <td>{{palestra.status}}</td>
                <td>{{palestra.data_criacao}}</td>
                <td><a href="">Editar</a></td>
                <td><a href="{% url 'palestradelete' palestra.id %}">Deletar</a></td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div>
        <h1>Cadastrar Nova Palestra</h1>
        <form action="{% url 'palestracreate' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>

</body>
</html>