<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Palestrinhas</title>
</head>
<body>
    <h1>Editar Palestra</h1>
    <form action="{% url 'palestradetail' palestra.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <div>
    {% if request.user.is_authenticated %}  
    <p>Deletar Palestra? </p>          
        <form action="{% url 'palestradelete' palestra.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Deletar</button>
        </form>
    {% endif %}
    </div>
</body>
</html>